APP_ENV=development
WALLPAY_BASE_URL="localhost:8000"

# Wallex info
WALLEX_LOGIN_CLIENT_ID=''
WALLEX_LOGIN_CLIENT_SECRET=''
WALLEX_PAY_API_KEY=''

NEW_RELIC_CONFIG_FILE=newrelic-dev.ini


TZ=Asia/Tehran
PYTHONWARNINGS="ignore:Unverified HTTPS request"

# WF celery app configuration details
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/1
REDIS_HOST=redis
REDIS_PORT=6379
WALLPAY_REDIS_DB=2

# Celery flower configuration details
FLOWER_PORT=5555

# PostgreSQL connection details
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=username
POSTGRES_PASSWORD=password
POSTGRES_DB=walfin

# first admin
FIRST_ADMIN_EMAIL=p.moghadam@msn.com
FIRST_ADMIN_USERNAME=first_admin
FIRST_ADMIN_PASSWORD=thisIsMyPassword@123
FIRST_ADMIN_MOBILE=09123492501
FIRST_ADMIN_NATIONAL_CODE=1142332209